@CHARSET "UTF-8";

.landing-page {
  display: block;
  width: 100%;
}
.landing-page ul {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.landing-page ul li {
  list-style: none;
}
.landing-page ul li a {
  border: 2px solid white;
  border-radius: 2px;
  display: inline-block;
  color: white;
  font-size: 2.4rem;
  line-height: inherit;
  margin: 2rem 20%;
  padding: 2rem 5rem;
  text-align: center;
  width: 60%;
}